.news-container {
    margin-top: 0%;
}

.news-item {
    margin-top: 0%;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
}

/* Author styling */
.news-author {
    font-size: 36pt;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Meta information styling for date and time */
.news-meta {
    font-size: 36pt;

    display: flex;
    justify-content: space-between;
    color: #000000;
    margin-bottom: 5px;
}

.news-date {
    text-align: left;
}

.news-time {
    text-align: right;
}

/* Main message styling */
.news-message {
    font-size: 36pt;
    margin-top: 50px;
    color: #000000;
    width: 500px;
    height: 800px; /* Set a fixed height for the div to control visible area */
    overflow: hidden;

}

/* Scrolling effect for long news messages */
.scrolling {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    animation: scrollVertical 10s linear infinite;
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
